<footer class="container-fluid bg-dark text-center text-white">
  <div class="row p-5 m-auto">
    <div class="col p-5">
      <section class="mb-4">
        <h4>ABOUT US</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex consequuntur pariatur vero adipisci facilis
          enim!</p>
      </section>
    </div>
    <div class="col p-5">
      <h4>FOLLOW US</h4>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-youtube"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="col p-5">
      <h4>CONTACT</h4>
      <p>
        <b>Email: </b> shopnest@gmail.com <br>
        <b>Phone:</b>+64537476
      </p>

    </div>
  </div>
  <div class="row ">
    <div class="copyright text-center text-light bg-dark py-3">
      <span>&copy; Copyright 2023</span>
    </div>
  </div>
</footer>
